* {
    background-color: burlywood;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
   
}

.attribution {
    font-size: 11px;
    text-align: center;
    
   
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
.para1{
    font-size: 34px;
    text-align: center;
}
.para2{
    font-size: 34px;
    text-align: center;
    font-weight: bold;
    
}
.para3{
    text-align: center;
}
.container{
    margin:5% 3%;
    background-color: rgb(186, 34, 7);
    
}
.subcontainer{

}
.block1{
    width: 300px;
    height: 250px;
    background-color: darkblue;
    
}
.block2{
    width: 300px;
    height: 250px;
    background-color: khaki;
}
.block3{
    width: 300px;
    height: 250px;
    background-color: hotpink;
}
.block4{
    width: 300px;
    height: 250px;
    background-color: slateblue;
}